<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target xsi:type="Database" name="database" commandType="Text" connectionString="data source=.;initial catalog=DirectoryProjectDB;integrated security=false;User ID=sa;Password=Sa_1234" dbProvider="System.Data.SqlClient" commandText="INSERT INTO [dbo].[NLogs] ([MachineName],[SiteName],[Logged],[Level],[UserName],[Message],[Logger],[Properties],[ServerName],[Port],[Url],[Https],[ServerAddress],[RemoteAddress],[Callsite],[Exception]) VALUES (@MachineName,@SiteName,@Logged,@Level,@UserName,@Message,@Logger,@Properties,@ServerName,@Port,@Url,@Https,@ServerAddress,@RemoteAddress,@CallSite,@Exception);">
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@SiteName"       layout="${iis-site-name}" />
      <parameter name="@Logged"         layout="${date}" />
      <parameter name="@Level"          layout="${level}" />
      <parameter name="@UserName"       layout="${aspnet-user-identity}" />
      <parameter name="@Message"        layout="${message}" />
      <parameter name="@Logger"         layout="${logger}" />
      <parameter name="@Properties"     layout="${all-event-properties:separator=|}" />
      <parameter name="@ServerName"     layout="${aspnet-request:serverVariable=SERVER_NAME}" />
      <parameter name="@Port"           layout="${aspnet-request:serverVariable=SERVER_PORT}" />
      <parameter name="@Url"            layout="${aspnet-request:serverVariable=HTTP_URL}" />
      <parameter name="@Https"          layout="${when:inner=1:when='${aspnet-request:serverVariable=HTTPS}' == 'on'}${when:inner=0:when='${aspnet-request:serverVariable=HTTPS}' != 'on'}" />
      <parameter name="@ServerAddress"  layout="${aspnet-request:serverVariable=LOCAL_ADDR}" />
      <parameter name="@RemoteAddress"  layout="${aspnet-request:serverVariable=REMOTE_ADDR}:${aspnet-request:serverVariable=REMOTE_PORT}" />
      <parameter name="@CallSite"       layout="${callsite}" />
      <parameter name="@Exception"      layout="${exception:tostring,Data}" />

    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="database" />
  </rules>
</nlog>